<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>http://192.168.4.194:8000</string>
	<key>CFBundleDisplayName</key>
	<string>Sleeper Live</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app needs to access your local network to connect to the development server for testing live activities.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
	</array>
</dict>
</plist>